<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TeXOCR Web App</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Fira+Code:wght@300..700&family=Kumbh+Sans:wght@100..900&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex/dist/katex.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/cormullion/cm-web-fonts@main/fonts.css">
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <div id="background"></div>
    <div id="equation-wall"></div>

    <div class="container-padding">
        <div class="container">
            

            <div class="banner">
                <div id="title"></div>
                <div id="banner-icons">
                    <div id="info-box">
                        <i id="info-icon" class="fas fa-info-circle"></i>
                        <div id="info-popup" class="info-popup">
                            <p>Upload an image of a LaTeX equation to get the predicted LaTeX code, rendered LaTeX, and output tokens.</p>
                            <ul>
                                <li>Drag and drop a <span class="highlight-red">.png</span> image containing an equation into the box below.</li>
                                <li>Ensure the image is clear and is <span class="highlight-red">fully cropped</span> to the equation.</li>
                                <li>Check the rendered output against the input image to ensure it is correct.</li>
                                <li>Copy the LaTeX code to your clipboard by clicking the <span class="highlight-red">copy</span> button.</li>
                                <li>Click the <span class="highlight-red">See Tokens</span> button to see how the LaTeX output is tokenized.</li>
                                <li>Click the <span class="highlight-red">Regenerate</span> button to re-run the model on the same image.</li>
                            </ul>
                        </div>
                    </div>
                    <div id="github-box">
                        <a href="https://github.com/olibridge01/TeXOCR" target="_blank">
                            <i id="github-icon" class="fab fa-github"></i>
                        </a>    
                    </div>
                </div>
            </div>
            <div class="space-fill"></div>

            <div class="drop-area" id="drop-area">
                <div class="drop-area-text">
                    <p id="drop-msg">Drop here</p>
                    <i id="upload-icon" class="fa-solid fa-file-arrow-up"></i>
                </div>
                <div id="loading-spinner">
                    <i class="fas fa-spinner"></i>
                </div>
                <input type="file" id="file-input" style="display: none;">
            </div>
            <img id="image-preview" class="image-preview" style="display: none;">
            <div id="latex-result" class="result" style="display: none;">
                <div class="prediction-title">
                    Model prediction:
                </div>

                <div id="latex-box">
                    <div id="latex"></div>
                    <div id="copied-msg" style="display: none;">Copied!</div>
                    <button id="copyButton" class="copy-button">
                        <i id="copy-icon" class="fas fa-copy"></i>
                    </button>
                </div>
                <div id="rendered-result" class="result" style="display: none;">
                    <!-- <h3>Rendered LaTeX:</h3> -->
                    <div id="rendered"></div>
                    <div id="error-msg">
                        <i class="fas fa-exclamation-triangle"></i>
                        Failed to render LaTeX
                    </div>
                </div>
            </div>
            <div id="buttons-div">
                <button class="general-button" id="tokens-button" style="display: none;"></button>
                <button class="general-button" id="regen-button" style="display: none;"></button>
            </div>
            
            <div id="tokenized-result" class="result" style="display: none;">
                <div class="prediction-title">
                    Tokenized output:
                </div>
                <div id="tokens"></div>
            </div>
        </div>
    </div>
    <script src="/static/script.js"></script>
    <script src="https://kit.fontawesome.com/5cccedd000.js" crossorigin="anonymous"></script>
    <script defer src="https://cdn.jsdelivr.net/npm/katex/dist/katex.min.js"></script>

</body>
</html>